html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#eabf9f, #b68973);
}
.Weather {
  border: 1px solid #dadde1;
  font-family: "Work Sans", sans-serif;
  color: rgb(135, 135, 135);
  padding: 26px;
  margin: 30px auto;
  border-radius: 8px;
  background-color: #faf3e0;
}

.Weather h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 29px;
  margin: 20px 0 0 0;
  padding-bottom: 15px;
  color: #1e212d;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  list-style: none;
}

.Weather .temperature {
  color: #1e212d;
  font-size: 70px;
  font-weight: 400;
}

.Weather img {
  margin-right: 10px;
  margin-bottom: 40px;
  height: 64px;
  display: inline-block;
}

.Weather .unit {
  color: #1e212d;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.WeatherForecast {
  font-family: "Work Sans", sans-serif;
}

.btn {
  background-color: #eabf9f;
  border-color: #eabf9f;
}

.btn :hover {
  background-color: #b68973;
}

a {
  color: #3c415c;
}
